body{
	background-color:#DCDBDB;;
}
div.toolbar{
	float:right;
}
#rectangle {
	width:max-width;
	height:200px;
	background:grey;
}
#inner {
	font-size: 30px;
	height: 50%;
	width: 50%;
	margin: 0 auto; 
}
.blueButton {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 13px; 
}
.blueButton:hover {
    background-color: #ffffff; /* White */
    color: black;
}
