body{
	margin: 0px;
	background-color:#ffffff;
	
}
div.toolbarRight{
	float:right;
}
div.toolbarLeft{
	float:left;
}
Slogan {
	
	
}
img {
	position: relative;
    left: 20%;
    z-index: 2;
    padding-top: 30px
}
#rectangle {
	width:max-width;
	height:200px;
	background:grey;
	border-radius: 13px;
	margin-top:42px 
}
a{
color:white;
}
#navBar {
	width:max-width;
	height:40px;
	background:black;
	opacity: 0.8;
	position: fixed;
	left: 0;
   	top: 0;
   	width: 100%;
}
ul.toolbar2{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li.toolbar{
	font-size:20px;
	float:left;
	padding: 8px;
	color:white;
}

.inner {
	position: relative;
	font-size: 30px;
	color:white;
	text-align:center;
}

#footerFont{
	color: white;	
}

.footer {
	margin-top: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: black;
  text-align: center;
  }
  
