* {
  box-sizing:border-box;
}


html, body {
  margin:0;
  padding:0;
  font-family:Arial;
}


header, footer {
  padding:20px;
}

header {
  background-color:blue;
  color:white;
}


#content {
  background-color:orange;

}

h1 {
  text-shadow:3px 3pX 3px black;
}

ul {
  border:solid 1px green;
  float:right;
}
header li {
  border:solid 1px red;
  display:inline-block;
  margin:0 10px;
}

.sidebar {
  width:20%;
  background-color:yellow;
  border:solid 1px red;
  position:absolute;
  top:50%;
  left:50%;
}

h1 small {
  float:right;
}


#id {
  color:green;
}
h1 span {
  border-bottom:dotted 1px white;
}

#main {
  width:80%;
  background-color:silver;
  float:right;
}

html body header ul li a {
  color:pink;
}

footer {
  background-color:gray;
}


.green {
  color:green;
}
