div.leftContainer{
	float:left;
}
div.name{
	width: 10%;
	height:10%;
	min-height: 1px;
	min-width: 100%;
	border-style: solid;
    border-width: 1px;
    margin: 10px;
 	background-color: #c0dfd9;

}
div.slideshow{
	width: 20%;
	height:20%;
	min-height: 50%;
	min-width: 150%;
	border-style: solid;
    border-width: 1px;
    margin:10px;
}
div.videoplayer{
	width: 20%;
	height:20%;
	min-height: 50%;
	min-width: 150%;
	border-style: solid;
    border-width: 1px;
    margin:10px;
}
div.price{
	float: center;
	width: 20%;
	height:20%;
	min-height: 50%;
	min-width: 150%;
	border-style: solid;
    border-width: 1px;
    margin:10px;
}
div.qualifications{
	float: right;
	width: 48%;
	height:58%;
	min-height: 1px;
	min-width: 35%%;
	border-style: solid;
    border-width: 1px;
    background-color: #c0dfd9;
    margin:10px;

}
div.reviews{
	width: 20%;
	height:5%;
	min-height: 5%;
	min-width: 150%;
	border-style: solid;
    border-width: 1px;
    margin:10px;

}
testimonialsContent{
	font-size: 50;
	padding-left: 25%;
}
picturesContent{
	  font-size: 50;
	  padding-left: 35%;
	  text-decoration: underline;
}

name{
	font-size: 25px;
}