div.testimonials{
	float: left;
	width: 48%%;
	height:58%;
	min-height: 1px;
	min-width: 48%;
	border-style: solid;
    border-width: 1px;
}
div.pictures{
	float: right;
	width: 48%;
	height:58%;
	min-height: 1px;
	min-width: 35%%;
	border-style: solid;
    border-width: 1px;
}
ul.testimonials{
  list-style-type: circle;

}

li.testimonials{

}
testimonialsContent{
	font-size: 50;
	padding-left: 25%;
}
picturesContent{
	font-size: 50;
	padding-left: 35%;
}